body {
    display: flex;
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/046/348/753/large/akshath-rao-381499.jpg?1644915224);
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: whitesmoke;
    font-size: 25px;
    font-family: "century gothic";
    flex-direction: column;
    justify-content: space-between;
}
.header {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(161, 162, 163, 0.5);
    border-radius: 15px;
    justify-content: space-around;
}
.footer {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(161, 162, 163, 0.712);
    border-radius: 15px;
    justify-content: space-around;
    align-items: flex-end;
}
.main {
    display: flex;
    flex: 5 5;
    flex-direction: column;
    justify-content: space-around;
    
    
    
}
.picturestop {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    padding-top: 3rem;
    padding-bottom: 3rem;

}
.picturesbottom{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    padding-top: 3rem;
    padding-bottom: 3rem;

}
img{
    border-radius: 5px;
    border: solid 5px rgba(161, 162, 163, 0.5);
}
a:link{
    color: rgb(254, 148, 61);
    text-decoration: none;
}
a:visited{
    color: rgb(254, 148, 61);
    text-decoration: none;
}
a:hover{
    color: black;
}